<?php
$routes=[
	'/^GET\/$/i'=>[
		'controller'=>DEFAULT_CONTROLLER,
		'action'=>DEFAULT_ACTION,
		'vars'=>[]
	],
	'/^GET\/users$/i'=>[
		'controller'=>'Users',
		'action'=>'getList',
		'vars'=>[]
	],
	'/^POST\/users$/i'=>[
		'controller'=>'Users',
		'action'=>'create',
		'vars'=>[]
	],
	'/^GET\/users\/[1-9]{1,}$/i'=>[
		'controller'=>'Users',
		'action'=>'read',
		'vars'=>[2]
	],
	'/^PUT\/users\/[0-9]{1,}$/i'=>[
		'controller'=>'Users',
		'action'=>'update',
		'vars'=>[2]
	],
	'/^DELETE\/users\/[0-9]{1,}$/i'=>[
		'controller'=>'Users',
		'action'=>'delete',
		'vars'=>[2]
	]
];